<% provide(:title, t(".about")) %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".content1" %><em><%= link_to t(".content2"), Settings.link4 %></em>
  <%= t ".content3" %>
  <%= link_to t(".content4"), Settings.link3 %><%= t ".content5" %>
  <%= link_to t(".content6"), Settings.link2 %><%= t ".content7" %>
  <%= link_to t(".content8"), Settings.link1 %><%= t ".content9" %>
  <%= link_to t(".content10"), Settings.link5 %><%= t ".content11" %>
</p>
