<footer class="footer">
  <small>
    <%= t ".text1" %> <%= link_to t(".text2"), Settings.link11 %>
    <%= t ".text3" %> <%= link_to t(".text4"), Settings.link12 %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".content"), about_path %></li>
      <li><%= link_to t(".content3"), contact_path %></li>
      <li><%= link_to t(".content2"), Settings.link10 %></li>
    </ul>
  </nav>
</footer>
